<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <footer class="footer">
        
    <header>
        <a href="https://www.aladwaa.com/"><img src="https://i.ibb.co/5sdzC2n/logo.png" alt="App Header"></a>
    </header>

        <div class="app-links">
            <a href="https://play.google.com/store/apps/details?id=com.nahdetmisr.adwaa">
                <i class="fab fa-google-play"></i>Download from Google Play
            </a>
            <a href="https://apps.apple.com/eg/app/aladwaa-education/id1540942437">
                <i class="fab fa-app-store"></i>Get it on App Store
            </a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/aladwaa/">
                <i class="fab fa-facebook" alt="Facebook"></i>
            </a>
            <a href="https://twitter.com/aladwaa_series">
                <i class="fab fa-twitter" alt="Twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCtmnekEaEsuWWkLmyVkaswg">
                <i class="fab fa-youtube" alt="Youtube"></i>
            </a>
        </div>
    </footer>
</body>

</html>
